/* 
  We've already included normalize.css. 

  But we'd like a modern looking boilerplate. 
  Clean type, sans-serif, and a nice color palette. 
  
*/

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #f3f3f3;
  background-color: #03061f;
  overflow: hidden;
  user-select: none;
  height: 100svh;
}
#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.login-form {
  width: 100vw;
  height: 100%;
  display: grid;
  place-items: center;
}
.login-form__center {
  max-width: 95vw;
  padding: 2rem;
  margin-inline: 2rem;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-form button {
  padding: 0.5rem;
  border: none;
  border-radius: 9999px;
  background-color: #4f4fcf;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #555;
}
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.user-messages {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 1000;
}
.user-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.user-view h1 {
  font-size: 3rem;
  margin: 0;
  margin-top: 2rem;
  text-align: center;
  padding-inline: 1rem;
}
h1 span {
  color: #4f4fcf;
}
.adder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-view p {
  margin: auto;
  font-size: 2rem;
  text-align: center;
  padding-inline: 2rem;
  font-style: italic;
}
.embla {
  overflow: hidden;
  display: flex;
}
.embla--selected {
  filter: grayscale();
  pointer-events: none;
}
.embla__container {
  display: flex;
  margin-bottom: 2rem;
}
.embla__slide {
  flex: 0 0 25%;
  min-width: 0;
  display: grid;
  place-items: center;
  transition: transform 0.3s;
}
.embla__slide img {
  width: 100%;
  padding: 0.5rem;
}
.embla__slide.selected {
  transform: scale(1.1);
  z-index: 1000;
}
.embla__slide.embla__slide.selected img {
  filter: drop-shadow(0 0 10px #fff);
}
.selected {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.selected button {
  background: #03061f;
  border: 2px solid #4f4fcf;
  color: #4f4fcf;
  font-weight: bold;
  border-radius: 9999px;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}
.selected button:hover {
  filter: drop-shadow(0 0 10px #4f4fcf);
}
.mover {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "tl tc tr"
    "ml mc mr"
    "bl bc br";
  gap: 1rem;
  margin: auto;
}
.mover .tc {
  grid-area: tc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mover .bc {
  grid-area: bc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mover .ml {
  grid-area: ml;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mover .mr {
  grid-area: mr;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mover .mc {
  grid-area: mc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mover button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #4f4fcf;
  color: #fff;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}
